/* COMMON  */

.page-background {
    height: 100vh;
    background: url('../img/cosmos.jpg') no-repeat fixed;
    background-size: cover;
    overflow: hidden;
}



/* MAIN START */

.crawl-container {
    width: 50%;
    margin: 0 auto;
    transform: perspective(400px) rotateX(50deg);
}

.crawl {
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
    color: yellow;
    animation: crawl 30s linear infinite;
}

.text-shadow {
    text-shadow: 0px 2px 2px black;
}

.episode-title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.episode-number {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.crawl-paragraph {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 40px;
}

@keyframes crawl {
    0% {
        top: 88vh;
        opacity: 1;
    }
    90% {
        opacity: 1;
        color: yellow;
    }
    100% {
        top: -100vh;
        opacity: 0;
        color: white;
    }
}

